{% extends 'base.html' %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'tag_edit' tag.id %}">Edit</a>
      <a href="{% url 'tag_delete' tag.id %}">Delete</a>
    </div>
    <h1>{{ tag.name }}</h1>
    <ul>
      {% for recipe in tag.recipes.all %}
        <li>{{ recipe.name }}</li>
      {% endfor %}
    </ul>
  </main>
{% endblock content %}
