{% extends 'base.html' %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plans_edit' meal_plan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' meal_plan.id %}">Delete</a>
    </div>
    <h2>Recipe for {{ meal_plan.name }} {{ meal_plan.date }}</h2>
    {% for recipe in meal_plan.recipes.all %}
        <div class="recipe-card">
          <p><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a><p>
        </div>
      {% endfor %}
{% endblock content %}

# name of the meal plan
# date that it is to be served
# list of names of recipes associated with it 
# each recipe name = link to the recipe page 

# link to the edit view, delete view 
# if not owner of the meal plan, show yellow page of sadness 
